@use "../../partials/variables" as *;
@use "../../partials/typography" as *;
@use "../../partials/mixins" as *;

.CommGroup {
  padding: 0.5rem;
  margin: .5rem 0;
  background-color: $color_bw_white;
  border: 2px solid $color_bw_ltgrey;
  border-radius: .25rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__headerTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    @include typography_paragraph;
    font-weight: 500;
    padding-right: .25rem;
  }

  &__total {
    padding-right: .25rem;
    @include typography_heading5;
    font-weight: 700;
  }

  &__list {
    margin-top: 1.5rem;
  }

  &__empty {
    opacity: .5;
  }

  &__noneText {
    @include typography_paragraph;
    margin-top: .5rem;
  }
}