@use "../../partials/variables" as *;
@use "../../partials/typography" as *;
@use "../../partials/mixins" as *;

.Header {
  margin-top: 1rem;
  padding: 1rem;
  
  background-color: lighten($color_purple_light, 10%);
  border: 2px solid $color_purple_primary;
  border-radius: .25rem;
  
  @include tablet {
    margin-top: 2rem;
  }

  &__heading {
    @include typography_heading3;
    margin-bottom: .5rem;


    @include mobile_425 {
      @include typography_heading2;
    }
    
    @include tablet {
      @include typography_headingHero;
      margin-bottom: 1rem;
    }
  }

  &__detailsContainer {
    display: flex;
    flex-direction: column;
    
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__updateTitle {
    @include typography_paragraph;
  }

  &__updateTime {
    @include typography_heading4;
    font-weight: 700;

    @include tablet {
      @include typography_heading3;
    }
  }

  &__actions {
    display: flex;

    @include mobile_425 {
      margin-top: .75rem;
      justify-content: flex-end;
    }
  }

  &__button {
    @include button;
    margin-top: .75rem;
    margin-right: .5rem;
    color: darken($color_blue_dark, 6%);
    border: 2px solid $color_blue_dark;
    background-color: lighten($color_blue_light, 15%);
    
    &:hover {
      background-color: $color_blue_light;
    }
    
    &:active {
      background-color: $color_blue_light;
    }
    
    @include mobile_425 {
      margin-top: 0;
      margin-right: .75rem;
    }

    @include tablet {
      margin-right: 1rem;
    }
  }

  &__bookingsLink {
    @include button;
    text-decoration: none;
    margin-top: .75rem;

    color: darken($color_yellow_dark, 6%);
    border: 2px solid $color_yellow_dark;
    background-color: lighten($color_yellow_light, 15%);
    
    &:hover {
      background-color: $color_yellow_light;
    }

    &:active {
      background-color: $color_yellow_light;
    }

    @include mobile_425 {
      margin-top: 0;
    }
  }
}