@use "../../partials/variables" as *;
@use "../../partials/typography" as *;
@use "../../partials/mixins" as *;

.Header {
  margin-top: 1rem;
  padding: 1rem;
  
  background-color: lighten($color_purple_light, 10%);
  border: 2px solid $color_purple_primary;
  border-radius: .25rem;
  
  @include tablet {
    margin-top: 2rem;
  }

  &__heading {
    @include typography_heading2;
    margin-bottom: .5rem;
    
    @include tablet {
      @include typography_headingHero;
      margin-bottom: 1rem;
    }
  }

  &__detailsContainer {
    display: flex;
    flex-direction: column;
    
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__updateTitle {
    @include typography_paragraph;
  }

  &__updateTime {
    @include typography_heading4;
    font-weight: 700;

    @include tablet {
      @include typography_heading3;
    }
  }

  &__bookingsLink {
    text-decoration: none;
    padding: .75rem 1rem;
    margin-top: .75rem;
    width: fit-content;

    @include typography_caption;
    font-weight: 500;
    color: darken($color_yellow_dark, 6%);
    border: 2px solid $color_yellow_dark;
    border-radius: .25rem;
    background-color: lighten($color_yellow_light, 15%);
    transition: background .2s, transform .2s;
    
    &:hover {
      background-color: $color_yellow_light;
      transition: background .2s;
    }

    &:active {
      background-color: $color_yellow_light;
      transform: translateY(5%);
      transition: background .2s, transform .2s;
    }

    @include tablet {
      @include typography_paragraph;
      margin-top: 0;
    }
  }
}