@use "./variables" as *;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  color: #323232;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.far {
  color: $color_purple_primary;
  transform: scale(1.2);
}

.fas {
  color: $color_blue_dark;
  transform: scale(0.8);
  margin-left: .5rem
}