*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}