$tablet_breakpoint: 700px;
$desktop_breakpoint: 1150px;
$app_max: 1440px;

$color_blue_primary: #42a5f5;
$color_blue_light: #80d6ff;
$color_blue_dark: #0077c2;

$color_yellow_primary: #ffca28;
$color_yellow_light: #fffd61;
$color_yellow_dark: #c79a00;

$color_purple_primary: #7e57c2;
$color_purple_light: #b085f5;
$color_purple_dark: #4d2c91;

$color_bw_white: #fafafa;
$color_bw_ltgrey: #cccccc;
$color_bw_black: #323232;
$color_bw_deepBlack: #000000;