@use "./partials/variables" as *;
@use "./partials/resets";
@use "./partials/base";
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

.App {
  width: 100%;
  max-width: $app_max;
  min-height: 100vh;
  padding: 0rem 1rem;
  background-color: inherit;
  transition: background-color .3s;
  
  &--dark {
    background-color: #323232;
    color: #000000;
    transition: background-color .3s;
  }
  
  @include tablet {
    padding: 0rem 2rem;
  }

  @include desktop {
    padding: 0rem 3rem;
  }

  &__main {
    margin-bottom: 2rem;
    
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__column {
    width: 100%;

    @include tablet {
      width: 49%;
    }
  }

  &__columnTitle {
    margin-top: .75rem;
    @include typography_heading5;
    color: $color_purple_primary;
    
    @include tablet {
      margin-top: 1rem;
      margin-bottom: -0.5rem;
      @include typography_heading4;
    }
    
    &--dark {
      @extend .App__columnTitle;
      color: $color_purple_light;
    }
  }
}