@use "../../partials/variables" as *;
@use "../../partials/typography" as *;
@use "../../partials/mixins" as *;

.DateCounter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $color_blue_primary;
  padding: .25rem 0;
  
  @include tablet {
    padding: .5rem 0;
  }

  &__date {
    @include typography_caption;
    font-weight: 500;
    width: 100%;
    
    @include tablet {
      @include typography_paragraph;
    }

    &--weekend {
      @extend .DateCounter__date;
      color: $color_purple_primary;
    }
  }
  
  &__count {
    @include typography_paragraph;
    font-weight: 700;

    &--weekend {
      @extend .DateCounter__count;
      color: $color_purple_primary;
    }
  }

  &__empty {
    opacity: .3;
  }
}